
<div id="home_thumbnail_container">	
	<div class="thumbnails">
		<img src="/assets/thumbnails/thumbnail1.png" />
		
		<div class="thumbnail_footer">
			<h4>POSTER DESIGN</h4>		
			<div class="comments_tag">
				<img src="/assets/thumbnails/comments_bubble.png"/>
				<p>10</p>			
			</div>		
		</div>
	</div>
	
	<div class="thumbnails">
		<img src="/assets/thumbnails/thumbnail2.png" />
		
		<div class="thumbnail_footer">
			<h4>POSTER DESIGN</h4>		
			<div class="comments_tag">
				<img src="/assets/thumbnails/comments_bubble.png"/>
				<p>10</p>			
			</div>		
		</div>
	</div>
	
	<div class="thumbnails">
		<img src="/assets/thumbnails/thumbnail3.png" />
		
		<div class="thumbnail_footer">
			<h4>POSTER DESIGN</h4>		
			<div class="comments_tag">
				<img src="/assets/thumbnails/comments_bubble.png"/>
				<p>10</p>			
			</div>		
		</div>
	</div>
	
	<div class="thumbnails">
		<img src="/assets/thumbnails/thumbnail4.png" />
		
		<div class="thumbnail_footer">
			<h4>POSTER DESIGN</h4>		
			<div class="comments_tag">
				<img src="/assets/thumbnails/comments_bubble.png"/>
				<p>10</p>			
			</div>		
		</div>
	</div>
	
	<div class="thumbnails">
		<img src="/assets/thumbnails/thumbnail5.png" />
		
		<div class="thumbnail_footer">
			<h4>POSTER DESIGN</h4>		
			<div class="comments_tag">
				<img src="/assets/thumbnails/comments_bubble.png"/>
				<p>10</p>			
			</div>		
		</div>
	</div>
	
	
		
</div>
